name: Java CI with Gradle
on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]


jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: source/did-wallet-server
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Test with Gradle Wrapper
        run: ./gradlew test -DskipFrontendBuild=true
        
      - name: Build with Gradle Wrapper
        run: ./gradlew clean build
